/* Main Styles */

body {
    padding: 0px 20px;
    background-color: #d4bd61;
    font-family: 'Roboto', sans-serif;
}

.style-text {
    color: #C81F64;
}

.main-container {
    background-color:white;
}


/*Nav Styles */
nav {
    background-color: darkblue;
}

.nav-logo {
    width: 50px;
    height:auto;
    display: inline-block;
}

nav ul {
    display:flex;
    list-style-type: none;
    margin-right: 10px;
}

nav ul a {
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 10px;
    float: left;
    color: darkgray;
    text-align: center;
    text-decoration: none;
}

nav ul a:visited {
    color:#ODODOD;
}
nav ul a:visited {
    color:#ODODOD;
}
nav ul a:visited {
    color:#ODODOD;
}

nav ul a:hover {
    background-color:#C1E4FF
}

/*Footer styles */

footer {
    background-color: white;
}