/* Main Styles */

body {
    padding: 0px 10%;
    background-color: #d4bd61;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(#f5e980, #d1a747);
}


.main-container {
    padding: 20px;
    text-align: center;
}

.style-text {
    color: #C81F64;
}

.main-container {
    background-color:white;
}

.style-text-heading {
    color: #C81F64;
    padding: 15px;
}

/*Nav Styles */
nav {
    background-color: goldenrod;
}

nav ul {
    display:flex;
    list-style-type: none;
    margin-right: 10px;
    float: right;
}

nav ul a {
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 20px;
    float: right;
    background-color: orange;
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid black;
}

nav ul a:visited {
    color:#ff3300;
}
nav ul a:active {
    color:green;
}
nav > ul > a:link {
    color:#ff3300;
}

nav ul a:hover {
    background-color:darkgoldenrod;
}


/* Content styles*/

.text-container {
    text-align: left;
}

/*Footer styles */

footer {
    background-color: white;
}