/* Main Styles */

body {
    padding: 0px 20px;
    background-color: yellow;
}

.main-container {
    background-color:white;
}


/*Nav Styles */
nav {
    float:right;
    text-decoration: none;
}

nav ul {
    display:flex;
    text-align: center;
    list-style-type: none;
}

nav ul li {
    padding-right: 10px
}

nav ul a {
    display:inline-block;
}


/*Footer styles */

footer {
    background-color: white;
}